:root {
  --nomenu_margin_top: 1rem;
  --clic_color: #1355F5;
  --clic_color_alt: rgb(0, 102, 255);
}
html {
  font-family: "Fira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* QF overflow z */
  width: 100%;
}
body {
  display: block;
  float: left;
  background: #FFF;
}

#wrapper
{
/* overflow: hidden; */
/* width: 750px; */
margin: auto;
hyphens: auto;
text-align: justify;
font-size: 18px;
line-height: 1.65em;
padding-left: 0;
  float: left;
  width: 100%;
}

#wrapper
{
  min-height: calc(100vh - 113px);
}
body.hide_menu #wrapper
{
  min-height: calc(100vh - 125px - var(--nomenu_margin_top));
}
footer {
  /* position: absolute; */
  bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}
footer {
  float: left !important;
  padding: 0 !important;
}
body {
  margin:0;
  padding:0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}



#wrapper header .meta {
  font-size: 1.1em !important;
  line-height: 1.6em !important;
  font-family: serif;
}

content_article :first-child {
  margin-top: 0;
}

article.post.default_solo content_article {
  max-width: 750px;
}
#wrapper article:not(.module) content_article {
  font-size: 18px;
  line-height: 1.85em !important;
  font-family: serif;
}
#wrapper content_article .modular-row.callout * {
  font-family: "Fira", sans-serif;
}
#wrapper article ol {
  margin-bottom: 1em;
  margin-left: 0.6em;
}
#wrapper article ul, #wrapper article ol {
  padding-left: 10px;
}

#wrapper article content_article li {
  list-style: inherit;
  line-height: 1.5em;
}
#wrapper article content_article li:last-child {
  margin-bottom: 0 !important;
}

#wrapper article li p {
  margin-bottom: 0;
}
#wrapper article ol {
  margin-bottom: 1em
}
#wrapper article ol > li > ul {
  padding-top: 10px;
}
#wrapper article ol li {
  margin-bottom: 0.7em !important;
}
#wrapper article ol > li + li {
  margin-top: 1.5em !important;
}

#wrapper content_article sup
{
  font-size: 3px;
  font-size: 0.6em;
  line-height: 1em;
}
#wrapper header .meta
{
  font-size: 1.2em !important;
  /* text-transform: uppercase; */
}
p
{
  margin-top: 0;
  margin-bottom: 1.1em;
}

.main-nav
{
margin-bottom: -15px;
margin-bottom: -25px;
}

#navbar-1 li a {
  text-decoration: none;
  margin-right: 30px;
  margin-right:27px;
}
#navbar-1 li:last-child > a
{
  margin-right: 0;
}
#navbar-1 ul, #navbar-1 li {
  display: inline-block !important;
  padding: 5px 0 4px 0;
  margin: 0;
}
#navbar-1 ul.social
{
float: right;
position: relative;
margin-top: -1px;
margin-bottom: -1px;
margin-top: 3px;
margin-left: -3px;
left: auto;
top: auto;
}
#navbar-1 ul.social a{
  text-decoration: none;
  margin-left: 10px;
  margin-left: 16px;
}
a.icon-mail::before
{
font-size: 1.1em !important;
line-height: 1.5em;
position: relative;
top: 1px;
}

#navbar-1 a
{
color: #000;
}
#navbar-1 a:visited
{
  color: #000;
  text-decoration: underline;
}


#p_intro
{
/* width: 1150px; */
display: block;
font-size:0.7em;
font-size: 2em;
}
#responsive_headline {
  font-size: 1.5em;
  padding-top: 0.2em;
  }

a#href_headline {
  text-decoration: none;
}


#responsive_headline a {
text-decoration: none;
}

img {
  width: 100%;
  clear: both;
}

/* #p_intro, */
.unit-100.p_intro {
  /* width: 400px; */
  white-space: nowrap;
  word-break: keep-all;
}
#p_intro
{
  margin: -20px 0 0 0;
  font-size: 20px !important;
}





h3.list_title
{
  margin-top: 1.4em;
  margin-bottom: 0.9em;
  font-weight: 460;
  font-size: 25px !important;
}
h3.list_title::first-letter
{
  text-transform: uppercase;
}
#next_prev_year h3
{
  margin-bottom: 0;
  float: none;
  display: inline;
}
#next_prev_year:not(:empty)
{
  margin-bottom: 20px;
}
#next_prev_year a {
  text-decoration: none
}
#next_prev_year a.yearpls_moins::before {
  content: "⟵";
  padding-right: 3px;
}
#next_prev_year a.yearpls_plus::after {
  content: "⟶";
  padding-left: 3px;
}
#next_prev_year a.yearpls_moins::before,
#next_prev_year a.yearpls_plus::after {
  font-size: 10px;
  position: relative;
  display: inline-block;
  top: -4px;
}


.projet_tmp_raw
{
white-space: pre-line;
/* margin-bottom: 50px; */
}
.projet_tmp_raw h3
{
margin: 0;
margin-bottom: 10px;
}


h3.list_title,
.liste_childrens h3.list_title
{
  font-weight: bold !important;
  color: #131313;
  font-size: 1.2em !important;
  margin-bottom: 10px;
}

.liste_childrens:not(.large) #cover{
  width: 200px;
  padding: 0;
  margin-bottom: -10px;
}
li {
  list-style: none;
  margin-bottom: 10px
}
.liste_childrens li
{
  max-height: 120px;
  overflow: hidden;
  clear: left;
  margin-bottom: 40px;
}

.li_cover_wrapper { 
  max-height: 118px;
  overflow: hidden;
  width: 26.5% !important;
}
.li_cover_wrapper,
#cover
{
  border: 1px solid #afafaf;
}
.liste_childrens #cover {
  border: none;
  margin-bottom: -10px;
}

.liste_childrens li + li
{
margin-top: 20px;
}

.liste_childrens a.semilink
{
display: flex;
text-decoration:none;
}
.liste_childrens {
  padding: 0; 
  margin-bottom: 3em;
}
.liste_infos  {
padding-left: 13px;
position: relative;
top: -3px;
width: 80%;
}



h1.post_title
{
  margin: 0;
  line-height: 1.1em;
  /* text-transform: uppercase; */
  font-size: 1.7em;
  line-height: 1.2em;
  text-align: left !important;
}
h1.post_title::first-letter  {
text-transform: uppercase;
}

#wrapper_content:not([data-parent="galerie"],[data-parent="programme"]) h1.post_title
{
  margin-top: 10px;
  margin-bottom: 5px;
}
/* collections */
/* #wrapper_content[data-parent="pages"] h1.post_title 
{
  margin-top: 3rem;
  margin-bottom: -1em;
} */
#wrapper_content[data-parent="pages"] .intro + h1.post_title 
{
  margin-top: 10px;
}

#meta_wrapper
{
  margin-top: 0px;
}
#meta_wrapper .meta:last-child
{
    margin-bottom: 5px;
}
#header_dates:not(:empty)
{
  margin-bottom: 10px;
  display: block;
  font-size: 1.2em;
  margin-top: 10px;
}

header .meta
{
  display: block;
}


.c-me
{
  font-weight: 610;
}

header + p
{
  margin-top: 5px;
}
:is(h2) {
  font-size: 1em !important;  
}
:is(h1):not(#responsive_headline) {
  font-size: 1.2em !important;  
}
:is(h3, h4, h5, h6)
{
font-size: 1em !important;
margin: 0;
margin: 5px 0 11px 0;
}
article :is(h1, h2, h3, h4, h5, h6)
{
  /* text-transform: uppercase; */
  margin: 10px 0 0 0;
}


body.hide_menu
{
  margin-top: var(--nomenu_margin_top);
  margin-top: 0;
}

.container.collection
{
  display: block;
  /* margin-top: var(--nomenu_margin_top); */
  margin-top: 0;
  margin-bottom: 0 !important;
}
.container.collection .admin_modify
{
  margin-top: -5px;
  position: absolute;
}
.admin_modify {
  visibility: hidden;
}

.container.collection article.post {
  margin-bottom: 0.6rem !important;
  margin-top: 0rem;
}
.container.modular
{
  margin-top: 0.8rem;
}

.admin_modify.allpages
{
  clear: both;
  display: block;
  width: 100%;
}
.admin_modify.home_item
{
  position: absolute;
  left: 18px;
  margin-top: -10px;
  line-height: 10px;
}
.admin_modify.home {
  margin-top: -15px;
  margin-bottom: 7px;
  position: absolute;
}
article[data-slug="_m"] * {
  font-family: "Fira", sans-serif;
}
/* HIDE GENERAL SEARCH => Force going back home (module _m) */
#admin_infos_search {
  display: none;
}

h1#homepage {
  display: none;
}
body#home #breadcrumbs {
  margin: 0 0 14px 0 !important;
}

.admin_modify.allpages + .admin_modify.home_item
{
  margin-top: 18px;
}
.admin_modify.allpages
{
  margin-top: -16px;
  margin-bottom: 10px;
}
.post.page_pleine .admin_modify.item
{
  margin-left: -4px;
  margin-top: -15px;
}
.post.page_pleine.collection_item .admin_modify.item 
{
margin-top: -5px;
}
h1#tag_name
{
  margin: 1.2rem 0 1em 0 !important;
  margin: -0.1rem 0 0.5em 0 !important;
  /* display: inline-table; */
}

.title_url
{
  font-size: 15px;
  line-height: 10px;
  margin: 0.7em 0 0.3em 0;
  margin: 0.5em 0 0.6em 0;
  display: block;
}
.article_title.collection_parent + .title_url
{
  display: none;
}

.article_title.collection_parent
{
  text-decoration: none;
}
.article_title.collection_item:not(.collection)
{
  text-decoration: none;
}
#goback_link
{
  display: block;
  margin-bottom: 10px;
  margin-top: -10px;
}
#goback_link a
{
  text-decoration: none;
}
#goback_link a
{
  border-bottom: 1px solid;
  padding: 0 3px 0px 6px;
}

h1#event_page
{
margin-top: 40px;
}

.post #cover + a
{
text-decoration: none;
}
p #intro_sep
{
  /* margin-top: -12px !important; */
  display: block;
  letter-spacing: 6px;
  margin-bottom: 24px;
}
article.collection_item.post
{
margin-bottom: 70px;
margin-bottom: 40px;
}
article.post:not(.module):first-child {
  margin-bottom: 2rem;
  /* display: flow-root; */
}
article.post:not(.module):last-child {
  margin-bottom: 4rem;
}
#intro_sep {
  font-weight: bold
}


h3.raw_home
{
  float: left;
  margin-bottom: 10px;
  clear: both;
  display: block;
  width: 100%;
  padding-top: 20px;
}
.goback
{
display: none;
position: absolute;
}

:target > .goback
{
display: block;
margin-left: -49px;
/* margin-top: 20px; */
font-size: 30px !important;
}
#wrapper_content[data-parent="pages"] :target > .goback
{
  margin-top: -12px;
}
#wrapper_content {
  margin-top: 0px;
  display: block;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px !important;
  box-sizing: border-box;
  float: left;
  min-height: calc(100vh - 100px);
  min-height: calc(100vh - 280px) !important;
  min-height: calc(100vh - 150px) !important;
  min-height: calc(100vh - 157px) !important;
}
header.group.top-nav
{
  position: relative;
  z-index: 99999;
}
#navbar-1 a
{
  padding-bottom: 7px;
}

strong > .arrow_goto,
.c-me > .arrow_goto,
.arrow_goto
{
  font-weight: normal !important;
}
/* .twp-futur.border.c-color, .twp-futur.border.c-color li, .twp-futur.border.c-color ul
{
  margin: 0;
  padding: 0;
}
.twp-futur.border.c-color li{
margin: 4px 0 4px 20px !important;
display:block;
} */
.atmail {
  color: var(--clic_color) !important;
  font-weight: bold;
}

.arrow_goto {
margin-right: 6px;
margin-left: -2px;
}
#top_page,
.goback a {
  text-decoration: none;
}

#show_all
{
margin-top: 3em;
margin-bottom: 3em;
display: block;
text-align: center;
}

hr
{
height: 1em;
border: 0;
margin: 2em 0;
}

iframe
{
  max-height: 92vh;
}

footer
{
  background: #000;
  text-align: center;
  padding-top: 20px !important;
  margin-top: 1rem;
}

#footer_cc * {
  color: #FFF !important;
}
#footer_extra_icons {
  margin: 10px 0 20px 0;
}


html footer #navbar-1 ul.social
{
  float: none !important;
  clear: both;
  display: block !important;
  margin: 20px 0 10px 0;
}
html footer #navbar-1 {
  margin-top: 20px;
}
html footer #navbar-1 ul.social a {
  padding: 10px;
}

article:hover .admin_modify {
  visibility: visible;
}

.admin_modify:is(.home,.allpages) {
  visibility: visible;
}



@media screen and ( max-width: 860px) {

  
  article .admin_modify {
    visibility: visible;
  }

  .li_cover_wrapper
  {
    max-height none;
  }

  #responsive_headline {
    line-height: 1em !important;
  }

  #wrapper content_article :is(p, span, ul, li),
  #wrapper header .meta {
  font-size: 1em !important;
  line-height: 1.65em !important;
  }
  .content + ul
  {
    margin-top: 160px;
    border-top: 50px solid;
    padding-top: 0px;
  }

  img, #cover,
  #wrapper,
  .unit-100.p_intro,
  #responsive_headline{
  width: 100% !important;
  } 

  #responsive_headline a
  {
      font-size: 80px !important;
      /* line-height: 90px; */
      /* font-size: 8rem !important; */
      /* line-height: 0.6em; */
  }
  #p_intro {
      font-size: 1.5rem !important;
  }
  


  .unit-100.p_intro
      {
      white-space: unset;
      hyphens: none;
      text-align: left;
      }
      #navbar-1
      {
      width: 100% !important;
      }
      #navbar-1 li
      {
      display: inline-block !important;
      margin-bottom: 40px;
      }
      #responsive_headline
      {
        margin-top: 70px;
        margin-bottom: 20px;
        }

      #p_intro
      {
        margin: 47px 0 40px 0;
        margin: 5px 0 40px 0;
      }

      #navbar-1 ul.social a {
        padding: 10px;
      }
      #navbar-1 ul.social
      {
        float: none;
        display: block !important;
        margin-left: -17px;
        margin-top: 3px;
        margin-bottom: 50px;
      }
      #navbar-1.top ul.social {
          margin-bottom: 10px; 
          margin-left: 0;
      }
      [class^="icon-"]::before { 
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      #navbar-1.top ul
      {
        margin-top: 20px;
        margin-bottom: -30px;
      }
      [class^="icon-"]::before { 
        margin: 0;
      }
      .in-content ul,
      .twp-futur ul {
        padding-left: 0;
      }

      .target:target > .goback
      {
        display: block;
        margin-left: -49px;
        margin-top: 55px;
        float: right;
        right: 40px;
        font-size: 4rem !important;
      }

      h3.raw_home {
        margin-top: 60px;
      }
      #wrapper content_article .arrow_goto
      {
        font-size: 100% !important;
        margin-right: 10px;
        margin-left: 8px;
      }
      #wrapper content_article ul *
      {
        text-align: left;
      }
/* }

@media screen and ( max-width: 580px) { */


  .units-row, .unit-100.p_intro
  {
    text-align: center;
  }

  #navbar-1 ul,
  #navbar-1 ul.social
  {
    display: flex !important;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #navbar-1 ul li {
    flex: 1 1 360px;
    text-align: center;
    margin-right: 0;
  }
  #navbar-1 li a {
    margin-right: 0;
  }

  img
  {
    max-width: 100vw;
  }

}

@media screen and ( min-width: 860px) { 
  .little-only {
    display: none;
  }
}


@media screen and ( max-width: 860px) {
  #navbar-1 > *
  {
    font-size: 1rem;
  }
  #navbar-1 ul.social a, #navbar-1 ul.social a::before
  {
    font-size: 2.3rem !important;
  }
  #navbar-1 ul.social a.icon-instagram::before,
  #navbar-1 ul.social a.icon-mail::before { 
    font-size: 1.3em !important;
    margin: 0;
  }
  #navbar-1 a {
    font-size: 2.4rem;
    line-height: 0.75em;
  }
  .container
  {
    margin-top: 30px;
  }
  #event_page
  {
    text-align: center;
  }
}




article.post header
{
  display: flex;
}

.post, header, content_article
{
  clear: none;
  width: 100%;
  float: left;
  display: inline-block;
}
header img
{
  width: 100%;
  max-width: 400px;
  max-width: none;
  clear: none;
  float: left;
  display: inline-block;
}
header a.a_cover {
  padding-right: 0rem;
}


#wrapper_content[data-page_template="simplesearch_results"] article.post:not(.page_pleine) content_article {
  max-width: 750px;
}
.container.not_collection content_article {
  padding-top: 0.5rem;
}
body#search .container.not_collection content_article {
  padding-top: 2rem;
}
.container.not_collection.modular content_article {
  padding-top: 0rem;
}


article.post:not(.page_pleine) header .a_cover
{
  max-width: 746px;
  margin-right: 0px;
  width: 100%;
}
article.post.default_solo:not(.page_pleine) header .a_cover,
#wrapper_content[data-page_template="simplesearch_results"] article.post:not(.page_pleine) header .a_cover {
display: block;
max-height: none;
}
[data-page_template="simplesearch_results"] .box.post.post-excerpt {
  margin-bottom: 2rem;
}

.meta_wrapper h1
{
  display: flow-root;
}
.meta_wrapper
{
  display: flow-root;
  padding-left: 0px;
}
/* article:not(.page_pleine, .collection) .meta_wrapper {
  padding-left: 0px;
} */
/* #wrapper_content[data-page_template="default"] article .meta_wrapper {
  display: inherit;
  float: left;
  clear: both;
  padding-left: 0 !important;
  margin-top: 20px;
} */
#wrapper_content[data-page_template="default"] article.post header {
  /* display: block */
}

.a_cover + .meta_wrapper {
  padding-left: 20px !important;
}

.meta_wrapper h1
{
  margin-top: -3px !important;
}
[data-page_template="collection"] .container.collection .meta_wrapper h1 {
  margin-top: 1rem !important;
}
#wrapper_content[data-page_template="default"]  article.post .meta_wrapper h1
{
  margin-top: 1em !important;
  margin-top: -0.2em !important;
}


table.meta_headerliste
{
  font-size: 0.8em;
  font-size: 13px;
  line-height: 1.5em;
  line-height: 2.3em;
  margin-left: -3px;
}
header tr td:first-child
{
  min-width: 90px;
  display:none;
}

#search_result_total,
.tag_metas
{
  background: #d0ffa9;
  color: #190e0e;
  color: var(--clic_color);
  padding: 2px 7px 2px 7px;
  border-radius: 2px;
}
thead
{
  display: none;
}

a.tag_metas:visited
{
  color: var(--clic_color_alt);
  background: #ccffc8;
}
#search_result_total,
.tag_metas.tag_title,
a.tag_metas.active
{
  background: #13ff00;
}
#search_result_total {
  width: fit-content;
  padding: 0 11px;
  margin-top: 10px;
}

table.meta_headerliste td:first-child
{
  padding-right: 1rem;
  /* display: none; */
}
table, tbody, tbody *
{
  padding: 0;
  margin: 0;
  border: 0;
}

:is(article, header,body) a:not(.tag_metas, #href_headline, .admin_modify, .footer_menu_extras) {
  color: var(--clic_color) !important;
}
:is(article, header,body) a:not(.tag_metas, #href_headline, .admin_modify, .footer_menu_extras):visited {
  color: var(--clic_color_alt) !important;
}

html footer #top_page,
html footer #footer_extra_icons a {
  color: #FFF !important;
}
#href_headline {
  color: #000 !important;
}
:is(article, header,body) a {
  text-decoration: none;
}


:focus,
:focus-visible {
  outline: 2px solid var(--clic_color);
}

.search-input {
  border: 1px solid #000;
}

.search-input {
  border: 1px solid #000;
}




@media (prefers-color-scheme: dark) {

  :root {
    --clic_color: #34ff34;
    --clic_color_alt: #34ff96;
  }

  .search-input {
    border: 1px solid var(--clic_color);
  }

  .search-input:focus-visible {
    outline: 2px solid var(--clic_color);
  }
  .search-input {
    border: 1px solid var(--clic_color);
  }

  body, body :not(a,i)
  {
    /* background: #111010; */
    color: #ffffff;
  }
  :is(article, header,body) a:not(.tag_metas),
  :is(article, header, body) a, 
  :is(article, header, body) a > *:not(#responsive_headline) {
    color: var(--clic_color) !important;
    text-decoration: none;
  }
  :is(article, header, body) a:visited, :is(article, header, body) a:visited > *:not(#responsive_headline) {
    color: var(--clic_color_alt) !important;
  }
  
  html footer #top_page,
  html footer #footer_extra_icons a {
    color: #FFF !important;
  }

  .tag_metas
  {
    background: #303030;
    color: #FFF;
  }

  .search-submit {
    filter: none!important;
  }
  .search-submit img {
    background: transparent !important;
  }
  /* #search_result_total, */
  .tag_metas.tag_title,
  a.tag_metas.active {
    color: #000 !important;
  }
  
  #href_headline {
    color: #FFF !important;
  }
}


header a img {
  /* flex: unset; */
  /* display: flex; */
  /* width: 100%; */
  /* border: 1px solid; */
  /* display: flow-root; */
  /* width: fit-content; */
  /* height: fit-content !important; */
  width: 100%;
}

#admin_infos
{
  float: right;
  padding-right: 0px;
  margin-top: 13px;
}
.admin_modify
{
  position: relative;
  font-size: 13px;
  margin-top: -5px;
  float: left;
  margin-right: 20px;
}
.container.default .admin_modify
{
  position: relative;
  font-size: 13px;
  margin-top: -5px;
  float: left;
  margin-right: 20px;
}

.admin_modify.item
{
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  background: #FFF;
  padding: 4px 6px 4px 5px;
  line-height: 1em;
}
.a_cover + .meta_wrapper > .admin_modify.item {
  margin-left: -52px;
}
.post.page_pleine.collection_item .admin_modify.item {
  float: left;
  position: relative;
  margin-left: -60px;

  top: 4px;
  left: 8px;
}


#search_results input#handle3:checked + .content article.post.page_pleine.collection_item .admin_modify.item {
  left: 0px;
}

article.default_solo .admin_modify.item {
  position: absolute !important;
  visibility: visible;
  margin-left: -53px !important;  
  margin-top: -2px !important;
}
.container #breadcrumbs {
  margin-bottom: 0 !important;
  margin-top: 0.5rem !important;
  clear: both;
}

.content
{
  clear: both;
  float: none;
  margin-top: 0rem;
}

#breadcrumbs, #breadcrumbs *
{
  padding: 0 !important;
  margin: 0 !important;
  height: auto;
  font-size: 15px;
  line-height: 1em;
}
#breadcrumbs
{
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  clear: both;
}
.container.collection.search article header {
  margin-top: 0.7rem;
}
#breadcrumbs > span:last-child
{
  /* display: none; */
}
#breadcrumbs i
{
  width: 20px !important;
}
#breadcrumbs i::after
{
  content: "˲";
  font-family: "Fira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
  top: -7.4px;
  font-size: 25px;
  right: -1px;
}
#breadcrumbs i.fa.fa-home::after {
  left: 6px;
  display: none; 
  /* color: #000 !important; */
}

#breadcrumbs i.fa.fa-home {
  width: 14px !important;
  text-align: left;
  margin-left: 0px !important;
}

#breadcrumbs a:hover
{
  background: blue;
}

#breadcrumbs + article:not(.collection,.modular)
{
  margin-top: 2rem;
}

#breadcrumbs + article:is(.collection,.modular)
{
  margin-top: 0;
  margin-bottom: 1rem !important;
}

  #breadcrumbs i.fa.fa-home::after {
    color: #FFF !important;
  }
  





  h1.search-header
  {
    margin: 0 0 0 0;
  }
  .search-header
  {
    display: none;
  }
  .search-submit
  {
    margin-top: 4px;
    filter: invert();
    padding: 2px 7px 3px 7px;
  }
  .search-wrapper .search-input {
  margin-bottom: 10px;
  }
  .search-wrapper {
    max-width: 400px;
    margin-top: 1rem;
    clear: both;
  }
  .search-input {
    color: #000;
  }
  .search-input {
    line-height: 1.8em !important;
    position: relative;
    top: 1px;
  }
  #search_result_total *, #search_result_total {
    color: #000 !important;
  }
  #search_term
  {
    /* display: none; */
  }
  .simplesearch p
  {
    margin: 0px 0 30px 1px;
  }
  body#search input
  {
    width: auto;
    max-width: 500px;
    min-width: 300px;
  }
  .first_td
  {
    width: 95px;
    padding-bottom: 18px;
    font-size: 16px;
    line-height: 5px;
    padding-top: 20px;
  }
  .first_td::first-letter {
    text-transform: capitalize !important;
  }











  
@media (prefers-color-scheme: dark) {
  body {
    background: #000;
  }
    
  #breadcrumbs i.fa.fa-home::after {
    color: #FFF !important;
  }

    #breadcrumbs a:hover,
  #breadcrumbs a:hover > *
  {
    background: rgb(101, 255, 98) !important;
  }
  #breadcrumbs a:visited:hover,
  #breadcrumbs a:visited:hover > *
  {
    background: rgb(66, 240, 150)  !important;
  }
  a.tag_metas:not(.active):visited {
    background: #2e2e2e;
  }

  :is(article, header, body) a.logout:not(.tag_metas)
  {
    color: rgb(66, 240, 150) !important;
  }
  :is(article, header, body) a.admin_modify:not(.tag_metas),
  .admin_modify:visited,
  .admin_modify {
    color:rgb(172, 175, 255)!important;
  }

  .admin_modify.item,
  .admin_modify.item:visited {
    color: rgb(66, 72, 240) !important;
    
  }


  .search-input {
    border: 1px solid #34ff34;
  }

}











.container.collection {
  float: left;
  width: 100%;
}
.content-padding {
float: left;
width: 100%
}


.no_meta.para p
{
  margin: 0;
  font-size: 17px;
}
.no_meta
{
  font-size: 17px;
}
#wrapper_content[data-page_template="default"] article.default_solo .no_meta.no_para
{
  display: none;
}


#cloud_tags a
{
  margin: 0 10px 0 0;
  font-size: 17px;
}


h2.handle {
  margin-bottom: 3px !important;
  margin-top: 0px;
}
.fa.fa-tag {
  font-size: 17px;
  padding: 6px;
  margin-right: -1px;
}
.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content:not(.handle_off) {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}
.accordion .content:not(.handle_off),
.accordion > input[type="checkbox"]:is(checked) ~ .content {
  display:none;
}
.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
  display: block;
}

section.accordion {
  margin-bottom: 15px;
}
section.accordion .content {
  margin-bottom: 25px;
}

.accordion .handle .fa-chevron-down::before {
  display:none;
}
h2 > .fa.fa-chevron-down {
  cursor: pointer;
  font-size: 18px;
}
h2 > .fa.fa-chevron-down,
.accordion .handle label::after { 
  color: var(--clic_color_alt);
}

.accordion .handle label::after {
  font-size: 16px;
}
h2 > .fa.fa-chevron-down i {
  font-size: 16px;
}

.accordion *:not(i) {
  font-family: "Fira", sans-serif !important;
  font-optical-sizing: auto;
}

.accordion .handle label::after {
  content: "\f054";
  font-family: "ForkAwesome";
  /* font-size: 17px; */
  line-height: 1.3em;
  /* padding-left: 10px; */
  padding-left: 2px;
  cursor: pointer;
}
.accordion .handle.handle_off label::after {
  display: none;
}
.accordion > input[type="checkbox"]:checked ~ .handle label::after {
  content: "\f078";
  position: relative;
  top: 0px;
  line-height: 1.3em;
  padding-left: 3px;
  font-size: 15px;
}
.container.tags #breadcrumbs {
  margin: 0.5rem 0 1.4rem 0 !important;
}

#tags_cumb i::after {
  display: none !important;
  margin-right: 10px !important;
}
[data-page_slug="tags"] .box.post.post-excerpt.collection {
  margin: 1rem 0;
}

#listing_tags a.topic li {
  line-height: 25px !important;
}
#listing_tags {
  margin-top: 1rem !important;
}





#search_results input#handle3:checked + .content.search_results {
  /* display: grid; */
  display:flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(4, 1fr); */
  /* gap: 10px 20px; */
  /* gap: 0px 0px; */
  /* gap: calc(10px + 3%); */
  /* gap: calc(5px + 2%); */
  width: calc(100vw - 35px);
  justify-content: space-between;
  justify-content: left;
}

#search_results input#handle3:checked + .content article.post {
  min-width: 310px;
  max-width: calc(100% / 4 - 25px);
  margin-right: 30px !important;
  display:flex;
  flex: 1 1 160px;
  margin-bottom: 1.8rem !important;
}
/* #search_results input#handle3:checked + .content article.post:nth-child(4n+4) {
  margin-right: 0px !important;
} */
#search_results input#handle3:checked + .content article.post:not(.page_pleine) header .a_cover
{
  max-width: 400px;
}

@media screen and ( max-width: 1300px) {
  #search_results input#handle3:checked + .content.search_results {
    justify-content: left;
  }  
  #search_results input#handle3:checked + .content article.post {
    min-width: 310px !important;
    max-width: calc(100% / 3 - 25px) !important;
  }
}
@media screen and ( max-width: 1100px) {
  #search_results input#handle3:checked + .content article.post {
    min-width: 310px !important;
    max-width: calc(100% / 2 - 25px) !important;
  }
}
@media screen and ( max-width: 720px) {
  #search_results input#handle3:checked + .content.search_results {
    flex-wrap: none;
    display: block;
  }  
  
  #search_results input#handle3:checked + .content article.post {
    min-width: auto !important;
    max-width: none !important;
    width: 100% !important;
  }
}

/* 
@media screen and ( max-width: 1300px) {
  #search_results input#handle3:checked + .content.search_results 
  {
    width: calc(100vw - 35px);
    justify-content: left;
  }
  #search_results input#handle3:checked + .content article.post {
    max-width: calc(100% / 4 - 25px);
    margin-right: 30px !important;
    min-width: 310px;
  }
  #search_results input#handle3:checked + .content article.post:nth-child(3n+3) {
    margin-right: 0px !important;
  }
} */







#search_results input#handle3:not(:checked) + .content article.post header .a_cover,
#search_results input#handle3:checked + .content article.post header .a_cover {
  display: flow-root !important;
  height: 60%;
  height: 20vb;
}
#search_results input#handle3:not(:checked) + .content article.post header .a_cover {
  display: flex !important;  
  height: 36vb; 
}
#search_results input#handle3:not(:checked) + .content article.post.page_pleine header .a_cover,
#search_results input#handle3:checked + .content article.post.page_pleine header .a_cover {
  height: auto;
}
article.post header { 
  height: 100%;
}


.default_solo header a.a_cover,
#search_results input#handle3:not(:checked) + .content header a.a_cover {
  border: 1px solid;
  max-height: 170px;
  overflow: hidden;
  margin-bottom: 0.25rem;
  justify-content: center;
  align-items: center;
}
.default_solo header a.a_cover,
#search_results input#handle3:not(:checked) + .content article.post.page_pleine header a.a_cover {
  max-height: none;
  float: left;
}
#search_results input#handle3:not(:checked) + .content article.post.page_pleine header a.a_cover {
margin-right: 20px;
}
#search_results input#handle3:not(:checked) + .content article.post.page_pleine header {
  display: inline-block;
}

#search_results input#handle3:not(:checked) + .content article.post.page_pleine content_article,
#search_results input#handle3:not(:checked) + .content article.post.page_pleine .meta_wrapper {
  display: block;
  padding-left: 20px !important;
  float: none;
  clear: none;
  width: auto;
}


/* #search_results input#handle3:i(:checked) + .content article.post.page_pleine :is(.a_cover, .cover, .no_meta), */
/* #search_results input#handle3:not(:checked) + .content article.post.page_pleine :is(.a_cover, .cover, .no_meta) */
/* {
  display: none;
} */


#search_results input#handle3:checked + .content table.meta_headerliste .tag_metas {
  font-size: 12px;
}
#search_results input#handle3:checked + .content table.meta_headerliste tr {
  line-height: 19px;
}
#search_results input#handle3:checked + .content table.meta_headerliste {  
  margin-left: -4px;
  margin-top: -2px;
}


#search_results input#handle3:checked + .content header {
  display: block;
}

#search_results input#handle3:checked + .content .meta_wrapper {
  display: block;
}
#search_results input#handle3:checked + .content .show_tags .meta_wrapper {
  height: 130px;
  min-height: 160px;
}


#search_results input#handle3:checked + .content article.post header {
  display: block;
}
/* main.css | http://dn.loc/user/themes/saturn/css/main.css */
#search_results input#handle3:checked + .content .meta_wrapper {
  float: none;
  clear: both;
}

#search_results input#handle3:checked + .content article.post:not(.page_pleine) header .a_cover, 
#wrapper_content[data-page_template="simplesearch_results"] article.post:not(.page_pleine) header .a_cover {
  display: block;
  float: none;
  clear: both;
}
#wrapper_content[data-page_template="simplesearch_results"] article.post:not(.page_pleine) header .a_cover {
  max-width: 330px;
  /* max-height: 180px !important; */
}



#search_results input#handle3:checked + .content .a_cover + .meta_wrapper {
  padding-left: 0px !important;
  padding-top: 10px;
}

#search_results input#handle3:checked + .content header a.a_cover {
  padding-right: 0rem;
}

#search_results input#handle3:checked + .content article.post header .a_cover {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 230px;
  overflow: hidden;
  border: 1px solid;
  height: 21vb;
  min-height: 180px;
}
#search_results input#handle3:checked + .content article.post.page_pleine header .a_cover {
height: 48vb !important;
}
#search_results input#handle3:checked + .content article.post header .a_cover img {
justify-content: center;
  height: auto;
  margin: -1px;
}

#search_results input#handle3:checked + .content tr[data-tax] {
    float: left;
}
h2 .fa.fa-tag {
  padding-left: 0;
}

#search_results input#handle3:checked + .content .a_cover + .meta_wrapper > .admin_modify.item {
  margin-left: -4px;
  margin-top: -28px;
}



/* #search_results input#handle3:checked + .content .meta_headerliste, */
#search_results input#handle2:not(:checked) + label + input + .content .meta_headerliste {
  display: none !important
}

label[data-text_before] {
  margin-right: 3px;
  line-height: 2em;
  font-size: 18px;
}
input + label[data-text_before] {
  margin-left: 15px;
}
[data-text_before]::before {
  content: attr(data-text_before);
  display: inline;
}


.mutli_edit * {
  display: inline;
  margin: 0;
  float: none;
}
.mutli_edit {
  position: absolute;
  margin-top: -23px;
}
body#home h2 {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  font-size: 1.3em !important;
}
.container.modular + article.module {
  margin-top: -10px;
}
.container.modular {
  margin-top: -12px;
}

#search_results input#handle3:checked + .content article.post.page_pleine {
  width: 100%;
  max-width: none;
  clear: both;
  display: contents;
  float: left;
}
/* #search_results input#handle3:checked + .content article.post.page_pleine + article {
  display:none;
} */



mod {
  margin: 2rem !important;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  border: 1px solid;
  padding: 1rem 0.5rem 0.5rem 1.5rem;
  border-radius: 4px;
}
.mod_titre.url {
  position: absolute;
  margin-top: -20px;
  margin-left: -20px;
  font-size: 14px;
}
/* mod[data-titre]::before {
  content: attr(data-titre);
  margin: -1.2rem;
  position: relative;
  top: -20px;
}
mod[data-titre][data-url]::before {
  content: attr(data-url, data-titre);
} */
.mod_titre + .mod_content {
  margin-top: 15px;
  display: block;
}