<ul class="liste_childrens">

  {%if title|replace({'/': ''}) != 'pages' %}
     <h3 class="list_title c-menot">{{title|replace({'/': ''})}}</h3>
  {%endif%}

  {% for pim in page.find(find).children.order(order_by, order) %}
    {% set exclude_pls = exclude ? exclude : "not_exclude" %}

    {% if page.url != pim.url and exclude_pls != pim.slug and pim.published %}
      {% include 'lists/listes_li.html.twig' %}
    {% endif %}
  {% endfor %}

</ul>