{# TODO COVER get littel size #}
<li>
  <a class="semilink" href="{{ pim.url }}" {% if pim.header.border_color != "" %}data-color="{{pim.header.border_color}}"{%else%}data-color="#000"{%endif%}>
    {# {{theme_dir}} #}
    {# {% set partial_cover = [theme_dir|replace({'/homepages/0/d531257262/htdocs/TWP_com': ''}), "/templates/partials/cover.html.twig"]|join %} #}
    <span class="li_cover_wrapper">
       {% include 'partials/cover.html.twig' %}
    </span>
      
      <div class="liste_infos">
          <div class="liste_titre">{{ pim.title|raw }}</div>
          <div class="liste_date">{{ pim.header.date_deb | td("fr") }}</div>
      </div>
  </a>
</li>