
<ul class="liste_childrens large years_2421">
  {% set years_array=["2024", "2023", "2022", "2021"] %}
  {% for year in years_array %}
      {% set yearpls = ["/", year, "/"]|join %}

      {% for pim in page.find(yearpls).children.order('slug','dsc') %}

          {% if page.url != pim.url and pim.published %}
          
            {% include 'lists/listes_li.html.twig' %}

          {% endif %}
      {% endfor %}
  
  {% endfor %}

  <a id="show_all" href="/galerie">tout voir ( depuis 2013 )</a>
</ul>