{% extends 'partials/base.html.twig' %}

{% block content %}

  {% set query_val = uri.param('quand') %}
  {% set query_val = (query_val) ? : uri.param('lieu') %}
  {% set query_val = (query_val) ? : uri.param('qui') %}
  {% set query_val = (query_val) ? : uri.param('quoi') %}

  {% set uri_params = uri.params %}
  {% set uri_query = regex_replace(uri_params, ['/\\/(\[\\w]{1,})\:(\[\\w]{1,})/'], ['$1']) %}


  
{% if query_val %}
  <h1 id="tag_name">{{uri_query|capitalize}} : <span class="tag_metas tag_title">{{query_val}}</h1>
    {% for pimp in taxonomy.findTaxonomy({(uri_query): query_val}) %}
  
      <article class="box post post-excerpt collection_item taxtag">
        {# dd #}
        <header>
            {% include 'partials/cover.html.twig' with {'origine':'taxtag'} %}
            {% include 'partials/meta_header.html.twig' with {'origine':'taxtag'} %}
        </header>
      </article>
  
    {% endfor %}

{# if not query_val... #}
{%else%}

  {# GO BACK breadcrumbs #}
  {% include 'partials/goback.html.twig' with {'origine':'collection'} %}
  
  {% set pim = (origine=='collection') ? page : pim %}
  {% set fullwidth = pim.header.fullwidth %}

  {# COLLECTION HEADER #}
  {% if page.collection and page.template == "collection" %}

    <article class="box post post-excerpt collection">
      {# c #}
      <header>
        {# --------- login edit button #}
        {% include 'admin/edit_button.html.twig' %}
        
          {# {% include 'partials/cover.html.twig' with {'origine':'collection'} %} #}
          {% include 'partials/meta_header.html.twig' with {'origine':'collection'} %}
      </header>
      {% if page.content %}
        <content_article>
            {{ page.content|raw }}
          </div>
        </content_article>
      {%endif%}
    </article>
  
    
    
  {# NOT COLLECTION #}
  {% endif %}
    
    {% for pimp in page.collection %}
      {% set widthpage = pimp.header.page_size|first %}
      {% set article_class = (widthpage == "page_pleine") ? "post collection_item page_pleine" : "post collection_item not_page_pleine" %}
        <article class="{{article_class}}">
          {# ci #}
          <header>
              {% include 'partials/cover.html.twig' with {'origine':'coll_item'} %}
              {% include 'partials/meta_header.html.twig' with {'origine':'coll_item'} %}
          </header>

          {% if widthpage == "page_pleine" %}
          <content_article>
              {{ pimp.content|raw }}
            </div>
          </content_article>
          {% endif %} {# if widthpage #}
        </article>    
    {% endfor %} {# pim in page.collection #}


{# query_val #}
{% endif %}

{% endblock %}

