{% extends 'partials/base.html.twig' %}

{% block content %}

  {%if page.url != "/" %}
     {% include 'partials/goback.html.twig' with {'origine':'collection'} %}
  {%endif%}

  {% set widthpage = page.header.page_size|first %}
  {% set article_class = (widthpage == "page_pleine") ? "post default_solo page_pleine" : "post default_solo not_page_pleine" %}
    <article class="{{article_class}}">
    <header>
      {% include 'partials/cover.html.twig' with {'origine':'collection'} %}
      {% include 'partials/meta_header.html.twig' with {'origine':'collection'} %}
    </header>
    <content_article>
    {{ page.content }}
    </content_article>
  </article>
{% endblock %}
