{# TODO USE collection (alt) #}
{% embed 'partials/base.html.twig' %}

  {% set collection = page.collection() %}
  {% set base_url = page.url %}
  {% set feed_url = base_url %}

  {% if base_url == '/' %}
    {% set base_url = '' %}
  {% endif %}

  {% if base_url == base_url_relative %}
    {% set feed_url = base_url~'/'~page.slug %}
  {% endif  %}

  {% block content %}

    <h1 id="event_page">Événements</h1>
  
    <ul class="liste_childrens large">
      {# TODO Real order fusion years and jardin/others #}
      {% set yearpls = ["/", page.slug, "/"]|join %}
      {% set yearpls_moins = page.slug - 1 %}
      {% set yearpls_plus = page.slug + 1 %}
      {# ss #}
      {% set yearpls_moinss = page.slug - 2 %}
      {% set yearpls_pluss = page.slug + 2 %}
      {# --- #}
      {% set pplus_file = ["../",yearpls_plus, "/events_years.md"]|join %}
      {% set pmoins_file = ["../",yearpls_moins, "/events_years.md"]|join %}
      {# ss #}
      {% set ppluss_file = ["../",yearpls_pluss, "/events_years.md"]|join %}
      {% set pmoinss_file = ["../",yearpls_moinss, "/events_years.md"]|join %}

 {# {{yearpls_pluss}} #}

 {% set pplus_file_out = pplus_file|filecontent %}
 {% set pmoins_file_out = pmoins_file|filecontent %}
 {% set ppluss_file_out = ppluss_file|filecontent %}
 {% set pmoinss_file_out = pmoinss_file|filecontent %}


      <div id="next_prev_year">
          {% if pmoins_file != pmoins_file_out %}
            <a href="/{{yearpls_moins}}" class="yearpls_moins">{{yearpls_moins}}</a>
          {% elseif pmoinss_file != pmoinss_file_out %}
            <a href="/{{yearpls_moinss}}" class="yearpls_moins">{{yearpls_moinss}}</a>
          {%endif%}

            <h3 class="list_title c-menot">{{yearpls|replace({'/': ''})}}</h3>

          {% if pplus_file != pplus_file_out %}
            <a href="/{{yearpls_plus}}" class="yearpls_plus">{{yearpls_plus}}</a>
          {% elseif ppluss_file != ppluss_file_out %}
            <a href="/{{yearpls_pluss}}" class="yearpls_plus">{{yearpls_pluss}}</a>
          {%endif%}
      </div>
      
      {# {% set years_array=["2024", "2023", "2022", "2021", "2020", "2019", "2018", "2017", "2016", "2015", "2014", "2013", "jardin"] %} #}
      {# {% for year in years_array %} #}
          {# {% set yearpls = ["/", year, "/"]|join %} #}

          {% for pim in page.find(yearpls).children.order('header.date_deb','dsc') %}

              {% if page.url != pim.url and pim.published %}
                {% include 'lists/listes_li.html.twig' %}
              {% endif %}
              
          {% endfor %}
      
      {# {% endfor %} #}
  </ul>

  {% endblock %}

{% endembed %}


