{# USED IN /pages/galerie/events.md 
URL ==> /galerie + route /programme #}

{% embed 'partials/base.html.twig' %}

  {% set collection = page.collection() %}
  {% set base_url = page.url %}
  {% set feed_url = base_url %}

  {% if base_url == '/' %}
    {% set base_url = '' %}
  {% endif %}

  {% if base_url == base_url_relative %}
    {% set feed_url = base_url~'/'~page.slug %}
  {% endif  %}

  {% block content %}

    <h1 id="event_page">Événements</h1>
  
    <ul class="liste_childrens large">
      {# TODO Real order fusion years and jardin/others #}
      {% set yearpls = ["/", page.parent.slug, "/"]|join %}
      {% set years_array=["2024", "2023", "2022", "2021", "2020", "2019", "2018", "2017", "2016", "2015", "2014", "2013", "jardin"] %}

      {% for year in years_array %}
          {% set yearpls = ["/", year, "/"]|join %}

          {% for pim in page.find(yearpls).children.order('header.date_deb','dsc') %}

              {% if page.url != pim.url and pim.published %}
                {% include 'lists/listes_li.html.twig' %}
              {% endif %}
              
          {% endfor %}
      
      {% endfor %}
  </ul>

  {% endblock %}

{% endembed %}


