{% extends 'partials/base.html.twig' %}

{% block content %}

  
  {# --------- login edit button #}
  {% include 'admin/edit_button.html.twig' %}
  {% include 'partials/simplesearch_searchbox.html.twig' with{'origine':'homepage'} %}

  {%if page.url != "/" %}
     {% include 'partials/goback.html.twig' with {'origine':'collection'} %}
  {%endif%}



  {% for pimp in page.collection() %}

    {% set fullwidth = pimp.header.fullwidth %}

    {% if fullwidth != "page_pleine"%}
     {%set call = 'coll_item'%}
     {%set spec = 'modular'%}
    {% else %}
      {%set call = 'collection'%}
    {% endif %}

    
      <article class="box post post-excerpt module" data-slug="{{pimp.slug}}">
        <header>
          {# {% include 'partials/cover.html.twig' with {'origine': call, 'spec': spec} %} #}
          {% include 'partials/meta_header.html.twig' with {'origine': call, 'spec': spec} %}
        </header>
        <content_article>
        {{ pimp.content|raw }}
        </content_article>
      </article>
    
  {% endfor %}
  
{% endblock %}
