{% extends 'partials/simplesearch_base.html.twig' %}

{% block content %}
<div class="content-padding simplesearch">
<h1 class="search-header">{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS"|t }}</h1>
<div class="center">
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>


{% if query %}
{# SI RECHERCHE #}
    <p id="search_result_total">
    {% set count = search_results ? search_results.count : 0 %}
    
    {% if count is same as( 1 ) %}
        {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query|e)|raw }}
    {% else %}
        {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query|e, count)|raw }}
    {% endif %}
    </p>      
  </div>
  
  <section id="search_results" class="simple_search_items">
  {% for page in search_results %}
      {% include 'partials/simplesearch_item.html.twig' with {'page': page} %}
  {% endfor %}
  </section>



{# SEARCH PAGE (all) /search ... startup, no query yet #}
{% elseif page.slug=="search"%}

    {# ---- taxonomylist_wrapper #}
      {# {% set children_only = "false" %} #}
      {% include 'partials/taxonomylist_wrapper_auto.html.twig' with {'collapse':'title'}%}
    {# cloud_tags #}
          


{# SI PARAMS (=?=) IF query (+) NOT Page pagination#}
{% elseif uri.params and not uri.params|contains("page") %}
  {# {% set uri_params=uri.params %} #}
  {# {% set uri_query = regex_replace(uri_params, ['/\\/(\[\\w]{1,})\:(\[\\w]{1,})/'], ['$1']) %} #}
  {# {{uri_query}}  #}




  {% for key in taxonomy.taxonomy|keys %} 
    {% if uri.param(key) %}
      {% set uri_query = key %}
      {% set query_val = uri.param(uri_query) %}

      {% if query_val %}
        {# {% if loop.first %}  #}
        <section id="search_results" class="have_no_params">
          <h1 id="tag_name">{{uri_query|capitalize}} : <span class="tag_metas tag_title">{{query_val}}</h1>
          <label data-text_before="Tags"></label><input type="checkbox" name="collapse" id="handle2" checked="checked">
          <label data-text_before="Grille"></label><input type="checkbox" name="collapse" id="handle3" checked="checked">
        {# {% endif %} #}

        <div class="content search_results a">
          {% for pimp in taxonomy.findTaxonomy({(uri_query): query_val}) %}
            {# {{page.slug}} VS {{pimp.parent.slug}} #}
            {# ON FILTRE LES PAGES APPARTENANT à la meme collection abcd... #}
            {% if page.slug == pimp.parent.slug %}
                <article class="box post post-excerpt collection_item taxtag">
                {# dd #}
                <header>
                    {% include 'partials/cover.html.twig' with {'origine':'taxtag'} %}
                    {% include 'partials/meta_header.html.twig' with {'origine':'taxtag'} %}
                    {# ,'uri_query_pop':(uri_query),'query_val_pop':(query_val) #}
                </header>
                </article>
            {% endif %}
          {% endfor %}
      {% endif %} {# endif query_val... #}

    {% endif %} {# uri.param(key) #}
  {% endfor %}  {# for key in taxonomy.taxonomy #}

  </div> {# content #}
</section>



{% else %} {# NO uri.params #}

{# {{ NOT URI PARAMS === NORMAL # TODO CL => Monter en premier dans le fichier }} #}

{% set page_slug = ["/", page.slug]|join %}
<section id="search_results" class="have_no_params b">
  <label data-text_before="Tags"></label><input type="checkbox" name="collapse" id="handle2" checked="checked">
  <label data-text_before="Grille"></label><input type="checkbox" name="collapse" id="handle3" checked="checked">
  
  <div class="content search_results b">

    {% set orderby_pls= (page.header.content.order.by) ? page.header.content.order.by : "header.date_pub"  %}
    {% set orderdir_pls= (page.header.content.order.dir) ? page.header.content.order.dir : "dsc"  %}
    {% set pagination_pls= (page.header.content.pagination) ? page.header.content.pagination : "non"  %}
    {% set limit_pagination_pls= (page.header.content.pagination) ? page.header.content.limit : "21"  %}
    {# {{orderdir_pls}} #}
    {# {{orderby_pls}} #}
    {# {{pagination_pls}} #}
    {# {{limit_pagination_pls}} #}

    {# {{uri.params}} #}


    {% set collection = page.collection() %}

    {# Render the list of blog posts (automatically filtered when using pagination) #}
    {% for pimp in collection.published.order(orderby_pls,orderdir_pls) if pimp != page %}
    {# {% for pimp in page.find(page_slug).children.published.order(orderby_pls,orderdir_pls) if pimp != page %} #}
      
      {% set widthpage = pimp.header.page_size|first %}
      {% set article_class = (widthpage == "page_pleine") ? "post collection_item page_pleine" : "post collection_item not_page_pleine" %}

      <article class="{{article_class}} search_no_query">
        {# ci ss #}
        <header>
            {% include 'partials/cover.html.twig' with {'origine':'coll_item', 'spec':'search'} %}
            {% include 'partials/meta_header.html.twig' with {'origine':'coll_item', 'spec':'search'} %}
            
            {% if widthpage == "page_pleine" %}
              <content_article>
                  {{ pimp.content|raw }}
              </content_article>
            {% endif %} {# if widthpage #}
        </header>


      </article>

      {# {%if pagination_pls == "1" %}
        {% do paginate( collection, limit_pagination_pls ) %}
        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
      {%endif%} #}

    {% endfor %}
  </div> {# content #}
  {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}

</section>

{% endif %}
    


{% endblock %}
