{% embed 'partials/base.html.twig' %}

{% block content %}
  

    {% set taxname = uri.query|split('=')[0]  %}
    {% set taxval =  uri.query|split('=')[1]|replace({'+':" "})  %}
    
    {% if taxname %}
		{% set c = breadcrumbs.get() %}
		{% set crumbs = c |merge([{'menu':taxname|humanize,'url':"/taxonomy?#{taxname}",'routable':true}]) %}
		{% if taxval %}
			{% set crumbs = crumbs |merge([{'menu':taxval|humanize,'url':'/taxonomy','routable':false}]) %}
		{% endif%}
	{% endif %}

	{% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' with {'crumbs':crumbs} %}
    {% endif %}
    <div class="blog-content-item grid pure-g-r">   
        {{ page.content }}  
    </div>  

    <div class="content-wrapper tags_liste">
        <div id="listing_tags" class="block pure-u-2-3 h-feed">
            {% if taxname %}
                    {% if taxval %}
                         <section class="topiclist"> 
                         {# aatt #}
                            <!-- taxonomy.findTaxonomy({(taxname): taxval}) -->
                            {% set collection = taxonomy.findTaxonomy({(taxname): taxval}) %}
                             {% include 'partials/item-cards.html.twig' with {'collection': collection,'params':[{'name':taxname, 'val': taxval}]} %} 
                        </section>
                    {% else %}
                        <section>
                             <ul class='item-topics topics'> 
                             {# bbtt #}
                            {% for cat in taxonomy.taxonomy[taxname]|keys|sort %}
                                <a class="item-topic topic" href="{{ base_url }}/tags/{{taxname}}:{{taxval}}{{ cat | url_encode }}"><li class="{{ taxname }}">{{ cat|humanize }}</li></a>
                            {% endfor %}
                            </ul>
                        </section>
                    {% endif %}
            {% else %}
                <section>
                     <ul class="item-topics topics"> 
                     {# cctt #}
                        {% for key in taxonomy.taxonomy|keys %}
                            {% if key  not in ['archives_month','archives_year','category','categorie'] %}
                                 <a class="item-topic topic" href="{{ page.url }}?{{key}}">
                                    <li class="{{ key }}" >{{key|capitalize}}</li>
                                 </a>
                            {% endif %}    
                        {% endfor%}
                </ul>
                </section>    
            {% endif %}
        </div>
    </div>
    {% endblock %}
{% endembed %}
