{% extends 'partials/base.html.twig' %}

{% block content %}

  {# ### SOURCE ### https://gist.github.com/tboulogne/25cbb91c2f15a75baefd961934326520 #}
  {% for key in taxonomy.taxonomy|keys %} 

    {% if uri.param(key) and uri_query == "" %}
      
      <h2 class="handle_off">
        <label for="handle1">
            <a id="a_tag_liste" href="/tags/l">Tag list</a>
        </label>
      </h2>

      {% set uri_query = key %}
      {% set query_val = uri.param(uri_query) %}

      {# ### CONTENTS ### #}
      {# GO BACK breadcrumbs #}
      {% include 'partials/goback.html.twig' with {'origine':'collection','tag':(uri_query),val:(query_val)} %}
      {% set fullwidth = pim.header.fullwidth %}

      {# <h1 id="tag_name">{{uri_query|capitalize}} : <span class="tag_metas tag_title">{{query_val}}</h1> #}

    <section id="search_results" class="have_no_params">
      <label data-text_before="Tags"></label><input type="checkbox" name="collapse" id="handle2" checked="checked">
      <label data-text_before="Grille"></label><input type="checkbox" name="collapse" id="handle3" checked="checked">
      
      <div class="content search_results">
        {% for pimp in taxonomy.findTaxonomy({(uri_query):(query_val)}) %}
          <article class="box post post-excerpt collection">
            {# c #}
            <header>
              {# --------- login edit button #}
              {% include 'admin/edit_button.html.twig' %}
              
                {% include 'partials/cover.html.twig' with {'origine':'coll_item'} %}
                {% include 'partials/meta_header.html.twig' with {'origine':'coll_item'} %}
            </header>
            {# {% if pim.content %}
              <content_article>
                  {{ pim.content|raw }}
                </div>
              </content_article>
            {%endif%} #}
          </article>
        {% endfor %} 
      </div>
    </section>

    {% elseif not uri.params %} {# {% if uri.param(key) %} #}

      {% if loop.first %} 
          {# ---- taxonomylist_wrapper #}
          {# {% set children_only = "false" %} #}
          {% include 'partials/taxonomylist_wrapper_auto.html.twig' with {'collapse':'title'}%}
        {# cloud_tags #}
      {% endif %}

    {# end fq #}
    {% endif %}
    {# {% endif %} #}

  {% else  %}
    ( rien : néant)
    <br><a href="/tags/l">liste de tags</a>
    <br><a href="/search/">recherche globale</a>
  {% endfor %}






{% endblock %}
