<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}" class="grid_please">
    <head>
        {% block head %}
            <meta charset="utf-8" />

            {% if page.url == "/" %}
              {% if site.metadata.home_title %}
                <title>{{ site.metadata.home_title }}</title>
              {%else%}
                <title>{{ site.title }}</title>
              {%endif%}
            {%else%}
               <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title> 
            {%endif%} {# if page.url #}

            {% include 'partials/metadata.html.twig' %}
            
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            

            <link rel="icon" type="image/png" href="{{ url('theme://img/favicon.png') }}" />

            {% block javascripts %}
                {% do assets.add('jquery',101) %}
                {# QUICKFIX sort table metas #}
                {% do assets.addJs('theme://js/sorttable.js') %}
                {% do assets.addJs('theme://js/jquery.fittext.js') %}
            {% endblock %}
            
            {% block stylesheets %}
                {% do assets.addCss('theme://css/main.css') %}
                {% do assets.addCss('theme://fonts/fontello.css') %}
            {% endblock %}

            <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">

            {% block assets deferred %}
                {{ assets.css()|raw }}
                {{ assets.js()|raw }}
            {% endblock %}

        {% endblock head%}
    </head>



    <body id="{{page.slug}}" class="{% if config.plugins.login.enabled and grav.user.username %}logged_in {%endif%}{% if site.menu_visible.enabled == false %}hide_menu{% endif %}{%if page.header.body_classes %} {{ page.header.body_classes }}{% endif %}">

    


    <div id="wrapper">
        {% if site.menu_visible.enabled == true %}
        <div class="main-nav">
            <div class="container">
                    <header class="group top-nav">
                         {% include 'partials/navigation.html.twig' with {'nav_position':'top'} %}
                    </header>
            </div>
        </div>
        {% endif %}

    {% block body %}
                
        {# wrapper_content #}
        {# OLD TWP FR #}
        {% if page.header.border_color != "" %}
            <div id="wrapper_content" data-color="{{page.header.border_color}}" data-page_template="{{page.template}}" data-page_slug="{{page.slug}}" datadata-parent='{%if ppage_slug not in some_array %}{{page.parent.slug}}{% else %}{{page.slug}}{% endif %}'>
        {%else%}
            <div id="wrapper_content" data-color="#000" data-page_template="{{page.template}}" data-page_slug="{{page.slug}}" data data-parent='{%if ppage_slug not in some_array %}{{page.parent.slug}}{% else %}{{page.slug}}{% endif %}'>
        {%endif%}

        {% if config.plugins.login.enabled and grav.user.username %}
            <div id="admin_infos">{% include 'partials/login-status.html.twig' %} <span id="admin_infos_search">— <a href="/search">Rechercher</a></span></div>
        {% else %}
            <div id="admin_infos"><span id="admin_infos_search"><a href="/search">Rechercher</a></span></div>
        {% endif %}

            <div class="intro">
                <div class="container">
                    {# <img class="img-intro" src="{{ url('theme://img/' ~ site.intro_avatar ) }}" alt=""> #}
                    {# {{ home_url }} #}
                    <a id="href_headline" class="c-me" href="/">
                        <h1 id="responsive_headline">
                            {{ site.metadata.titre }}
                        </h1>
                    </a>
                    <p id="p_intro">{{ site.metadata.intro }}</p>

                </div>
            </div>

            

            


            {# block content #}
            <div class="content">

                {% if page.collection and page.template == "collection" %}
                  <div class="container collection">
                {% elseif page.template == "tags" %}
                    <div class="container not_collection tags">
                {% elseif page.collection and page.template == "modular" %}
                  <div class="container not_collection modular">
                {% elseif page.collection and (page.template == "default") %}
                    <div class="container not_collection default">
                {% elseif page.template == "simplesearch_results" %}
                    <div class="container collection search">
                {% else %} 
                  <div class="container not_collection">
                {% endif %} 
                {# xubase #}
                
                    {% block content %}{% endblock %}

                </div>
            </div>
            {# content #}
            
        </div> {# WRAPPER_Content #}



    {% endblock %}
    {# END - block body #}
        
    </div> {# WRAPPER #}



    <footer data-color="{{page.header.border_color ? page.header.border_color : '#000'}}">
        <a href="#" id="top_page" class="c-menot">⤊ Haut de page</a>
        {% if site.menu_visible.enabled == true %}
           {% include 'partials/navigation.html.twig' with {'class_nav':'c-menot', 'state':'footer'} %}
        {% endif %}

        <div id="footer_extra_icons">
            <a class="footer_menu_extras" id="onion_footer"><i class="fa fa-tor-onion" aria-hidden="true"></i></a>
            <a class="footer_menu_extras" id="gitlab_footer" href="https://gitlab.com/bonnebulle/grav_dn_corpus/"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
            
            <div id="footer_cc">
                <i class="fa fa-cc-nd" aria-hidden="true"></i>
                <i class="fa fa-cc-share" aria-hidden="true"></i>
                <i class="fa fa-cc-by" aria-hidden="true"></i>
                <i class="fa fa-cc-nc " aria-hidden="true"></i>
            </div>
        </div>




    </footer>


    {{ assets.js('bottom')|raw }}

<script>
    // $("#href_headline").fitText();
    // $("#p_intro").fitText();
    {# QUICKFIX sort table metas #}
    window.onload = function() {
        setTimeout(function () {
            // REVERSE Meta_liste order (by clic)
            // (document.getElementsByTagName( 'th' )[0]).click(); 
            // COLLAPSE TAG list
            // $("#handle1").prop("checked", false);
        },20);
    };
</script>


    </body>
</html>
