<div class="post" data-parent='{%if ppage_slug not in some_array %}{{page.parent.slug}}{% else %}{{page.slug}}{% endif %}'>
    <div class="in-content">
    <header>
        {% if page.url == "/" %}
            <img id="cover" src="{{ url('theme://img/Il-Est-Urgent-Que-Le-Pro_gres-Programme.jpg') }}">
        {% else %}
             {% include 'partials/cover.html.twig' with {'origine':'default'} %}
        {% endif %}

        {% include 'partials/meta_header.html.twig' %}
    </header>

    <content_article>
        {% if page.header.continue_link is same as(false) %}
            {{ page.content|markdown }}
            {% if not truncate(1850)|markdown %}
                {% set show_prev_next = true %}
            {% endif %}

            
        {% elseif truncate(1850)|markdown and page.summary != page.content %}
            {{ page.summary|markdown }}
            <a class="read-more" href="{{ page.url }}">Lire la suite</a>

        {% elseif truncate %}
           {{ page.content|truncate(1850)|markdown }}
           <a class="read-more" href="{{ page.url }}">Lire la suite</a>

        {% else %}
           {{ page.content|markdown }}
           {% set show_prev_next = true %}
        {% endif %}
    </content_article>
    
</div>





    {% if show_prev_next %}
        <p class="prev-next">
            {% if not page.isLast %}
                <a class="btn btn-black" href="{{ page.prevSibling.url }}"><i class="fa fa-arrow-left"></i> PREVIOUS</a>
            {% endif %}

            {% if not page.isFirst %}
                <a class="btn btn-black" href="{{ page.nextSibling.url }}">NEXT <i class="fa fa-arrow-right"></i></a>
            {% endif %}
        </p>
    {% endif %}
</div>
