{% set crumbs = breadcrumbs.get() %}
{% set breadcrumbs_config = config.plugins.breadcrumbs %}
{% set divider = breadcrumbs_config.icon_divider_classes %}



{% if crumbs|length > 1 or breadcrumbs_config.show_all %}
<div id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList" data-origine="{{origine}}">
    {% if breadcrumbs_config.icon_home %}
    <i class="{{ breadcrumbs_config.icon_home }}"></i>
    {% endif %}
    {% for crumb in crumbs %}
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        {% if loop.first %} 
            <a class="first_cumb" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ crumb.url|e }}" itemid="{{ crumb.url|e }}">
                <span itemprop="name"><i class="fa fa-home no_divid" aria-hidden="true"></i></span>
            </a>
            <i class="{{ divider }}"></i>
        {% elseif not loop.last %} 
        {# LAST #}
            {% if crumb.routable %}
                    {%if (page.slug != "l") %}
                    <a class="notlast_cumb" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ crumb.url|e }}" itemid="{{ crumb.url|e }}">
                       {%set final_c = (crumb.menu|e|length>7) ?  crumb.slug|truncate(7) : crumb.slug|e%}
                        <span itemprop="name">{{ final_c }}</span>
                     </a>
                     <i class="{{ divider }}"></i>
                    {% else %}
                    <a class="notlast_cumb" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/tags/" itemid="{{ crumb.url|e }}">
                        <span id="tags_cumb"><i class="fa fa-tags" aria-hidden="true"></i></span>
                    </a>
                    <i class="{{ divider }}"></i>
                    <a class="notlast_cumb" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/tags/l" itemid="{{ crumb.url|e }}">
                        liste
                    </a>
                    {% endif %}
            {% else  %}
                <span class="notlast_cumb notroutable" itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ crumb.url|e }}">
                    {%set final_c = (crumb.menu|e|length>7) ?  crumb.slug|truncate(7) : crumb.slug|e%}
                    <span itemprop="name">{{ final_c }}</span>
                    {# <span itemprop="name">{{ crumb.menu|e }}</span> #}
                </span>
                <i class="{{ divider }}"></i>
            {% endif %}
            
        {% else %} {# NOT_LAST #}
            {% if breadcrumbs_config.link_trailing %}
                <a class="trailing" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ crumb.url|e }}" itemid="{{ crumb.url|e }}">
                    {%set final_c = (crumb.menu|e|length>7) ?  crumb.slug|truncate(7) : crumb.slug|e%}
                    <span itemprop="name">{{ final_c }}</span>
                    {# <span itemprop="name">{{ crumb.menu|e }}</span> #}
                </a>
            {% else %}
                <span class="trailing notroutable" itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ crumb.url|e }}">
                    {%if (page.slug == "tags") %}
                      <span id="tags_cumb"><a href="/tags/"><i class="fa fa-tags" aria-hidden="true"></i></a></span>
                    {%else%}
                      {%if crumb.menu != "l" %}
                        {%set final_c = (crumb.menu|e|length>7) ?  crumb.slug|truncate(7) : crumb.slug|e%}
                        <span itemprop="name">{{ final_c }}</span>
                      {%else%}
                        {# <span itemprop="name">liste</span> #}
                      {%endif%}
                    {%endif%}
                    
                    {# <span itemprop="name">{{ crumb.menu|e }}</span> #}
                </span>
            {% endif %}
        {% endif %}
        <meta itemprop="position" content="{{ loop.index }}" />
    </span>
    {% endfor %}
{# </div> #}
{% endif %}
