{# {% set origine = origine %} #}
{% switch origine %}
    {% case 'default' %}
       {% set pim = pim %}
    {% case 'collection' %}
       {% set pim = page %}
    {% case 'coll_item' %}
       {% set pim = pimp %}
    {% case 'taxtag' %}
       {% set pim = pimp %}
    {% default %}
       {% set pim = pim %}
{% endswitch %}

{% set widthpage = pim.header.page_size|first %}
{# {{widthpage}} #}
{# {{ origine  }} #}
{# {{ pim.url }} #}
{# {{spec}} #}

{# --- NOT COVER URL #}
{% if (not pim.header.cover_url) %}
  {# aa #}

  {% set image = pim.media.images|first %}
  {% if image %}
    <a class="a_cover" href="{{pim.url}}">
      {{ image.cropResize(400,400).html('','','align-'~pim.header.image_align)|raw }}
    </a>

  {% elseif (widthpage != "1")  %}
    {# abb #}
    <a class="a_cover default bb" href="{{pim.url}}">
      <img class="cover" src="{{ url('theme://img/default_cover.jpg') }}">
    </a>
  {% else %}
    {# acc #}
    <a class="a_cover default bb" href="{{pim.url}}">
      <img class="cover" src="{{ url('theme://img/default_cover.jpg') }}">
    </a>
  {% endif %}

{# --- YES COVER URL #}
{% elseif (pim.header.cover_url) %} 
{# ccc #}
  
   {% if (pim.header.cover_url == "#N/A") %}
    {# dd #}
    <a class="a_cover" href="{{pim.url}}">
      <img class="cover" src="{{ url('theme://img/default_cover.jpg') }}">
    </a>
  {% else %}
    {# ee #}
    <a class="a_cover" href="{{pim.url}}">
      <img class="cover" src="{{ url('theme://img/default_cover.jpg') }}">
    </a>
  {% endif %}

{% else %}
  {# ff #}
  <a class="a_cover default bb" href="{{pim.url}}">
    <img class="cover" src="{{ url('theme://img/default_cover.jpg') }}">
  </a>

{% endif %} {# --- END direct url #}



