{# {% set origine = origine %} #}
{% switch origine %}
    {% case 'default' %}
       {% set pim = pim %}
    {% case 'collection' %}
       {% set pim = page %}
    {% case 'coll_item' %}
       {% set pim = pimp %}
    {% case 'taxtag' %}
       {% set pim = page %}
    {% default %}
       {% set pim = pim %}
{% endswitch %}

{# {{uri_query_pop}} #}
{# {{query_val_pop}} #}

<div class="meta_wrapper">

  {# --------- login edit button #}
  {% include 'admin/edit_button.html.twig' with {'origine':'meta_header', 'pim_url':(pimp.url)} %}

{# MODULAR #}
{% if spec == "modular" and pim.header.title_visible.enabled==true %}
  {{title_pls}}
  {# aadde #}


{# coll_item ==> pimp #}
{% elseif origine == "coll_item" %}

  {% if pim.header.title_visible.enabled==true %}
  {% set title_pls = ["<h1 class=\'post_title\' id=\'", pimp.title|replace(' ', '_'), "\'>", pimp.title|raw, "</h1>"]|join %}
    {# cccdde #}

    <a class="article_title collection_item collection" href="{{pimp.url}}">{{title_pls}}
      {%if page.url != "/" %}
        <span class="title_url">{{pimp.url}}</span>
      {%endif%}
    </a>
  {%endif%}





{# MODULE == item in modular page#}
{% elseif origine == "modular" or module.header.title_visible.enabled==true %}
   {% set title_pls = ["<h1 class=\'post_title\' id=\'", module.title|replace(' ', '_'), "\'>", module.title|raw, "</h1>"]|join %}


   {# mmm #}
    {# <a class="article_title modules" href="{{module.url}}"> #} {#404#}
      {{title_pls}}
    {# </a> #}
    {%if page.url != "/" %}
      <span class="title_url">{{module.url}}</span>
    {%endif%}
    

{# modules / others #}
{% elseif module.header.title_visible.enabled!=false and pim.header.title_visible.enabled!=false %}
  
  {# ddd #}
    {{title_pls}}
    {%if pim.url != "/" %}
      <span class="title_url">{{pim.url}}</span>
    {%endif%}

{# taxtag #}
{% elseif origine == "taxtag" %}
  {% set title_pls = ["<h1 class=\'post_title\' id=\'", pimp.title|replace(' ', '_'), "\'>", pimp.title|raw, "</h1>"]|join %}
  
  {# ttt #}
  <a class="article_title collection_item taxtag" href="{{pimp.url}}">{{title_pls}}
  {%if page.url != "/" %}
    <span class="title_url">{{pimp.url}}</span>
  {%endif%}
  </a>
{# SEARCH #}
{% elseif spec == "search" %}
  {% set title_pls = ["<h1 class=\'post_title\' id=\'", page.title|replace(' ', '_'), "\'>", page.title|raw, "</h1>"]|join %}
  {# sss #}
  <a class="article_title modules" href="{{page.url}}"> {#404#}
    {{title_pls}}
    {%if page.url != "/" %}
      <span class="title_url">{{page.url}}</span>
    {%endif%}
  </a>

{%else%}
{% set title_pls = ["<h1 class=\'post_title\' id=\'", page.title|replace(' ', '_'), "\'>", page.title|raw, "</h1>"]|join %}
  {# eee #}
  {{title_pls}}
{%endif%}
  

  {# --------- meta_headerliste #}
  {% include 'partials/meta_headerliste.html.twig' %}
  {# with {'uri_query_pop':(uri_query),'query_val_pop':(query_val)}  #}

  {# {% if page.collection and page.template == "collection" %} #}
    {# --------- GET SUMMARY QF regex #}
    {# {%set string = regex_replace(pim.content, ['/===[\\s\\S]{1,}/'],  ['']) %} #}
    {# {{string}} #}
    {# {{ pim.content|raw }} #}
  {# {%endif%} #}

</div>