{# {% set origine = origine %} #}
{% switch origine %}
    {% case 'default' %}
       {% set pim = pim %}
    {% case 'collection' %}
       {% set pim = page %}
    {% case 'coll_item' %}
       {% set pim = pimp %}
    {% case 'taxtag' %}
       {% set pim = pimp %}
    {% default %}
       {% set pim = pim %}
{% endswitch %}

{# {{uri_query_pop}} #}
{# {{query_val_pop}} #}

{# <span class="title_url">{{pim.url}}</span> #}

{% if pim.header.taxonomy  %}
  {# ---- taxonomylist_wrapper #}
    {% set children_only = "true" %}
    {% include 'partials/taxonomylist_wrapper_auto.html.twig' with {'collapse':'none', 'origine':'meta_headliste'}%}
  {# cloud_tags #}
{% else %}


{# CONTENT / EXTRAIT  #}
  {% if pim.template == "collection" or pim.template == "modular" or page.url == "/" %}
    {# <span class="no_meta para">{{pim.content|truncate(130)}}</span>  #}
    {# aa #}
  {% elseif spec == "search" %}
    <span class="no_meta para">{{pim.content|truncate(130)}}</span>
  {% elseif page.template == "default" %}
    {# cc #}
    <span class="no_meta no_para"><p>pas d'infos</p></span>  
  {% else %}
      <span class="no_meta para">{{pim.content|truncate(130)}}</span>
  {% endif %} 
{% endif %}
  