{% for meta in page.metadata %}
  <meta 
  {% if meta.name %}name="{{ meta.name }}" {% endif %}
  {% if meta.http_equiv %}http-equiv="{{ meta.http_equiv }}" {% endif %}
  {% if meta.charset %}charset="{{ meta.charset }}" {% endif %}
  {# {% if meta.property %}property="{{ meta.property }}" {% endif %}
  {% if meta.content %}content="{{ meta.content }}" {% endif %}/> #}
  property="{% if page.header.sur_titre %}{{ page.title }}{%endif%}
    {% if page.header.sur_titre %}{{ page.header.sur_titre }}{%endif%}
    {% if page.header.date_deb %}{{ page.header.date_deb | td("fr") }}{%endif%}
    {% if page.header.date_fin %}{{ page.header.date_fin | td("fr") }}{%endif%}
    {% if page.header.artiste %}{{ page.header.artiste }}{%endif%}""
    {# {% if page.summary != page.content %}
      {{page.summary|markdown}}
    {%else%}
      {{page.content|markdown}}
    {%endif%}" #}

{% endfor %}