

        <article class="box post post-excerpt search_item">
            <header>
            {% include 'partials/cover.html.twig' with {'origine':'collection', 'spec':'search'} %}
            {% include 'partials/meta_header.html.twig' with {'origine':'collection', 'spec':'search'} %}
            </header>
            <content_article>
            {# {{ page.content }} #}
            </content_article>
        </article>
