{# taxonomylist plugin setup #}
{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

{# COLLAPSE (or not) #}
{% set handle = (collapse=='title') ? 'handle_off' : 'handle' %}

{# Tilte (or not) #}
{% if page.slug not in ['search','tags','tag','home'] %}
    {# {% set tag_title = (page.slug=='search') ? '' : ['dans ', page.title]|join %} #}
    {% set tag_title = ['dans ', page.title]|join %}
{%else%}
   {% set tag_title = "" %}
{%endif%}


{# {{page.slug|dump}} #}
{# TODO NB: 1. NOT meta_headliste 2. meta_headliste #}
{%if (origine != 'meta_headliste') %}
<section class="accordion">
    {%if (collapse!='title') or (origine != 'meta_headliste') %}
    <input type="checkbox" name="collapse" id="handle1">
    {%endif%}

    {% if page.slug not in ['home'] %}
    {% if page.slug != "search" %}
        {% if page.slug in ['search','tags','tag'] %}
            <h2 class="handle {{handle}}">
                <label for="handle1" class="fa fa-chevron-down" aria-hidden="true">
                    <a id="a_tag_liste" href="/tags/l">Tag list</a>
                </label>
            </h2>
        {%else%}
            <h2 class="handle {{handle}}">
                <label for="handle1" class="fa fa-chevron-down" aria-hidden="true">
                    Tags <i class="fa fa-tag" aria-hidden="true"></i>{{tag_title}}
                </label>
            </h2>
        {%endif%}
    {% endif %}

    
    <div class="content {{handle}}">
        <div id="cloud_tags">
            <table>
                <thead>
                    <tr>
                    <th></th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% set page_slug = ["/", page.slug]|join %}
                    {# {% if page.slug in ['search','home'] %}
                       {% set page_slug_dest = "/" %}
                    {%else%} #}

                       {% set page_slug_dest = page_slug %}

                    {# {%endif%} #}

                    
                    {# ### SOURCE ### https://gist.github.com/tboulogne/25cbb91c2f15a75baefd961934326520 #}
                    {% for key in taxonomy.taxonomy|keys %}
                        <tr>
                            {% set key_fix = (key=="ou") ? "où" : key %}
                            <td id="search-{{key}}" class="first_td">{{key_fix}}</td>
                            <td>{% include 'partials/taxonomylist.html.twig' with {base_url: (page_slug_dest), taxonomy: (key)} %}</td>
                        </tr>
                    {% endfor%}
                <tbody>
            </table>

        {% if page.slug == "search" %}
            <a id="a_tag_liste" href="/tags/l">Tag list</a>
        {%endif%}

        </div> 
    {% endif %}
    </div>
</section>




{# IS meta_headliste == liste dans les articles/items (liste) #}
{%else%}


    <table class="meta_headerliste sortable">
        <thead>
            <tr><th>
            </th><th>
            </th></tr>
        </thead>
        <tbody>
        {% set taxlist = pim.header.taxonomy %}
            {% for tax,value in taxlist %} {# NOT |sort ==> /admin/config/system #}
            {% if value is not empty %}
                <tr data-tax="{{tax}}" aria-sort="{{tax}}">
                <td valign="bottom">
                    {{ tax|capitalize }}
                </td>

                {% set url = pim.url|split('/') %}
                {% set slug = '/' ~ url[1] %}
                {# TAG PAGE ? ==> tags => /tags ( no abc restriction ) #}
                {% set slug = (page.slug == "tags") ? "/tags" : slug %}

                    {% for v in value %}
                        {% set vclean = v|replace('-', ' ')|replace('_', ' ') %}
                        {% set active = (query_val==v) ? "active" : "not_active" %}
                        <td valign="bottom" data-v="{{vclean}}">
                        <a class="tag_metas {{active}}" href="{{slug}}/{{tax}}:{{v}}">{{ vclean }}</a>
                        {# {% if not loop.last %},{% endif %} #}
                        </td>
                    {% endfor %}
                
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endif %} {# if page.slug not in ['home'] #}
