{% set pim = (origine=="meta_header") ? pimp : pim %}
{# {{pim_url}} #}
{% if config.plugins.login.enabled and grav.user.username %}

  {% if page.url == "/" %}  
    {% if loop.first %} 
      {% set admin_class = "admin_modify allpages" %}
      {% set modify_url_adminpages = "/admin/pages/" %}
      <a class="{{admin_class}}" href='{{modify_url_adminpages}}'>Edit_pages</a>
      <a class="{{admin_class}}" href='/admin/pages/home'>Edit_home</a>
    {% endif %}

      {% set modify_url = (pim.template=="collection") ? page.url : pimp.url %}
      {% set modify_url_adminpages = ["/admin/pages", "/", page.slug, modify_url]|join %}
      {% set admin_class = (modify_url_adminpages == "/admin/pages/home") ? "admin_modify home" : "admin_modify home_item" %}
      {% set edit_txt = (modify_url_adminpages == "/admin/pages/home") ? "Edit_Home" : "Edit" %}
      
      {%if page.slug == "home" %}
        <span class="mutli_edit"><a class="admin_modify h" href='/admin/pages/{{pimp.slug|slice(-1)}}'>{{edit_txt}}</a>
        {# <sep> / </sep> #}
        <a class="admin_modify m" href='{{modify_url_adminpages}}'>(m)</a></span>
      {%else%}
         <a class="{{admin_class}}" href='{{modify_url_adminpages}}'>{{edit_txt}}</a>
      {%endif%}
  
  {# NOT HOME  #}
  {% else %}
      {% set pimp = (page.template=="default") ? page : pim %}
      {# {{pimpo}} #}

      {% set admin_class = (pim.template=="collection") ? "admin_modify" : "admin_modify item" %}
      {% set modify_url = (pim.template=="collection") ? page.url : pimp.url %}
      {% set modify_url = (modify_url=="") ? page.url : modify_url %}
      {% set modify_url_adminpages = ["/admin/pages", modify_url]|join %}
      <a class="{{admin_class}}" href='{{modify_url_adminpages}}'>Edit</a>
  {% endif %}
{% endif %}
